@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  scroll-behavior: auto !important;
  margin: 40px auto;
  word-break: break-word;
}

.article .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.article h1:hover .anchor .octicon-link:before,
.article h2:hover .anchor .octicon-link:before,
.article h3:hover .anchor .octicon-link:before,
.article h4:hover .anchor .octicon-link:before,
.article h5:hover .anchor .octicon-link:before,
.article h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.article details,
.article figcaption,
.article figure {
  display: block;
}

.article summary {
  display: list-item;
}

.article [hidden] {
  display: none !important;
}

.article a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.article abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.article b,
.article strong {
  font-weight: 600;
}

.article dfn {
  font-style: italic;
}

.article h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #d1d9e0b3;
}

.article mark {
  background-color: #fff8c5;
  color: #1f2328;
}

.article small {
  font-size: 90%;
}

.article sub,
.article sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.article sub {
  bottom: -0.25em;
}

.article sup {
  top: -0.5em;
}

.article img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  border-radius: 0.5rem;
  aspect-ratio: 16 / 9;
}

.article code,
.article kbd,
.article pre,
.article samp {
  font-family: monospace;
  font-size: 1em;
}

.article figure {
  margin: 1em 2.5rem;
}

.article hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #d1d9e0b3;
  height: 0.25em;
  padding: 0;
  margin: 1.5rem 0;
  background-color: #d1d9e0;
  border: 0;
}

.article input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.article [type="button"],
.article [type="reset"],
.article [type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

.article [type="checkbox"],
.article [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.article [type="number"]::-webkit-inner-spin-button,
.article [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.article [type="search"]::-webkit-search-cancel-button,
.article [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.article ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.article ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.article a:hover {
  text-decoration: underline;
}

.article ::placeholder {
  color: #59636e;
  opacity: 1;
}

.article hr::before {
  display: table;
  content: "";
}

.article hr::after {
  display: table;
  clear: both;
  content: "";
}

.article table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-variant: tabular-nums;
}

.article td,
.article th {
  padding: 0;
}

.article details summary {
  cursor: pointer;
}

.article a:focus,
.article [role="button"]:focus,
.article input[type="radio"]:focus,
.article input[type="checkbox"]:focus {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.article a:focus:not(:focus-visible),
.article [role="button"]:focus:not(:focus-visible),
.article input[type="radio"]:focus:not(:focus-visible),
.article input[type="checkbox"]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.article a:focus-visible,
.article [role="button"]:focus-visible,
.article input[type="radio"]:focus-visible,
.article input[type="checkbox"]:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.article a:not([class]):focus,
.article a:not([class]):focus-visible,
.article input[type="radio"]:focus,
.article input[type="radio"]:focus-visible,
.article input[type="checkbox"]:focus,
.article input[type="checkbox"]:focus-visible {
  outline-offset: 0;
}

.article kbd {
  display: inline-block;
  padding: 0.25rem;
  font:
    11px ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  line-height: 10px;
  color: #1f2328;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px #d1d9e0b3;
  border-bottom-color: #d1d9e0b3;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #d1d9e0b3;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.article h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d1d9e0b3;
}

.article h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.article h4 {
  font-weight: 600;
  font-size: 1em;
}

.article h5 {
  font-weight: 600;
  font-size: 0.875em;
}

.article h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #59636e;
}

.article p {
  margin-top: 0;
  margin-bottom: 10px;
}

.article blockquote {
  margin: 0;
  padding: 0 1em;
  color: #59636e;
  border-left: 0.25em solid #d1d9e0;
}

.article ul,
.article ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.article ol ol,
.article ul ol {
  list-style-type: lower-roman;
}

.article ul ul ol,
.article ul ol ol,
.article ol ul ol,
.article ol ol ol {
  list-style-type: lower-alpha;
}

.article dd {
  margin-left: 0;
}

.article tt,
.article code,
.article samp {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 12px;
}

.article pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 12px;
  word-wrap: normal;
}

.article .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.article input::-webkit-outer-spin-button,
.article input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.article .mr-2 {
  margin-right: 0.5rem !important;
}

.article::before {
  display: table;
  content: "";
}

.article::after {
  display: table;
  clear: both;
  content: "";
}

.article > *:first-child {
  margin-top: 0 !important;
}

.article > *:last-child {
  margin-bottom: 0 !important;
}

.article a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.article .absent {
  color: #d1242f;
}

.article .anchor {
  float: left;
  padding-right: 0.25rem;
  margin-left: -20px;
  line-height: 1;
}

.article .anchor:focus {
  outline: none;
}

.article p,
.article blockquote,
.article ul,
.article ol,
.article dl,
.article table,
.article pre,
.article details {
  margin-top: 0;
  margin-bottom: 1rem;
}

.article blockquote > :first-child {
  margin-top: 0;
}

.article blockquote > :last-child {
  margin-bottom: 0;
}

.article h1 .octicon-link,
.article h2 .octicon-link,
.article h3 .octicon-link,
.article h4 .octicon-link,
.article h5 .octicon-link,
.article h6 .octicon-link {
  color: #1f2328;
  vertical-align: middle;
  visibility: hidden;
}

.article h1:hover .anchor,
.article h2:hover .anchor,
.article h3:hover .anchor,
.article h4:hover .anchor,
.article h5:hover .anchor,
.article h6:hover .anchor {
  text-decoration: none;
}

.article h1:hover .anchor .octicon-link,
.article h2:hover .anchor .octicon-link,
.article h3:hover .anchor .octicon-link,
.article h4:hover .anchor .octicon-link,
.article h5:hover .anchor .octicon-link,
.article h6:hover .anchor .octicon-link {
  visibility: visible;
}

.article h1 tt,
.article h1 code,
.article h2 tt,
.article h2 code,
.article h3 tt,
.article h3 code,
.article h4 tt,
.article h4 code,
.article h5 tt,
.article h5 code,
.article h6 tt,
.article h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.article summary h1,
.article summary h2,
.article summary h3,
.article summary h4,
.article summary h5,
.article summary h6 {
  display: inline-block;
}

.article summary h1 .anchor,
.article summary h2 .anchor,
.article summary h3 .anchor,
.article summary h4 .anchor,
.article summary h5 .anchor,
.article summary h6 .anchor {
  margin-left: -40px;
}

.article summary h1,
.article summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.article ul.no-list,
.article ol.no-list {
  padding: 0;
  list-style-type: none;
}

.article ol[type="a s"] {
  list-style-type: lower-alpha;
}

.article ol[type="A s"] {
  list-style-type: upper-alpha;
}

.article ol[type="i s"] {
  list-style-type: lower-roman;
}

.article ol[type="I s"] {
  list-style-type: upper-roman;
}

.article ol[type="1"] {
  list-style-type: decimal;
}

.article div > ol:not([type]) {
  list-style-type: decimal;
}

.article ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 1rem;
}

.article ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 1rem;
}

.article ul ul,
.article ul ol,
.article ol ol,
.article ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.article li > p {
  margin-top: 1rem;
}

.article li + li {
  margin-top: 0.25em;
}

.article dl {
  padding: 0;
}

.article dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.article dl dd {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.article table th {
  font-weight: 600;
}

.article table th,
.article table td {
  padding: 6px 13px;
  border: 1px solid #d1d9e0;
}

.article table td > :last-child {
  margin-bottom: 0;
}

.article table tr {
  background-color: #ffffff;
  border-top: 1px solid #d1d9e0b3;
}

.article table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.article table img {
  background-color: transparent;
}

.article img[align="right"] {
  padding-left: 20px;
}

.article img[align="left"] {
  padding-right: 20px;
}

.article .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.article span.frame {
  display: block;
  overflow: hidden;
}

.article span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d1d9e0;
}

.article span.frame span img {
  display: block;
  float: left;
}

.article span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #1f2328;
}

.article span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.article span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.article span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.article span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.article span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.article span.align-right span img {
  margin: 0;
  text-align: right;
}

.article span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.article span.float-left span {
  margin: 13px 0 0;
}

.article span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.article span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.article code,
.article tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #818b981f;
  border-radius: 6px;
}

.article code br,
.article tt br {
  display: none;
}

.article del code {
  text-decoration: inherit;
}

.article samp {
  font-size: 85%;
}

.article pre code {
  font-size: 100%;
}

.article pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.article .highlight {
  margin-bottom: 1rem;
}

.article .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.article .highlight pre,
.article pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #1f2328;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.article pre code,
.article pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.article .csv-data td,
.article .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.article .csv-data .blob-num {
  padding: 10px 0.5rem 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.article .csv-data tr {
  border-top: 0;
}

.article .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.article [data-footnote-ref]::before {
  content: "[";
}

.article [data-footnote-ref]::after {
  content: "]";
}

.article .footnotes {
  font-size: 12px;
  color: #59636e;
  border-top: 1px solid #d1d9e0;
}

.article .footnotes ol {
  padding-left: 1rem;
}

.article .footnotes ol ul {
  display: inline-block;
  padding-left: 1rem;
  margin-top: 1rem;
}

.article .footnotes li {
  position: relative;
}

.article .footnotes li:target::before {
  position: absolute;
  top: calc(0.5rem * -1);
  right: calc(0.5rem * -1);
  bottom: calc(0.5rem * -1);
  left: calc(1.5rem * -1);
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.article .footnotes li:target {
  color: #1f2328;
}

.article .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.article body:has(:modal) {
  padding-right: var(--dialog-scrollgutter) !important;
}

.article .pl-c {
  color: #59636e;
}

.article .pl-c1,
.article .pl-s .pl-v {
  color: #0550ae;
}

.article .pl-e,
.article .pl-en {
  color: #6639ba;
}

.article .pl-smi,
.article .pl-s .pl-s1 {
  color: #1f2328;
}

.article .pl-ent {
  color: #0550ae;
}

.article .pl-k {
  color: #cf222e;
}

.article .pl-s,
.article .pl-pds,
.article .pl-s .pl-pse .pl-s1,
.article .pl-sr,
.article .pl-sr .pl-cce,
.article .pl-sr .pl-sre,
.article .pl-sr .pl-sra {
  color: #0a3069;
}

.article .pl-v,
.article .pl-smw {
  color: #953800;
}

.article .pl-bu {
  color: #82071e;
}

.article .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

.article .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

.article .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

.article .pl-ml {
  color: #3b2300;
}

.article .pl-mh,
.article .pl-mh .pl-en,
.article .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.article .pl-mi {
  font-style: italic;
  color: #1f2328;
}

.article .pl-mb {
  font-weight: bold;
  color: #1f2328;
}

.article .pl-md {
  color: #82071e;
  background-color: #ffebe9;
}

.article .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

.article .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

.article .pl-mi2 {
  color: #d1d9e0;
  background-color: #0550ae;
}

.article .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.article .pl-ba {
  color: #59636e;
}

.article .pl-sg {
  color: #818b98;
}

.article .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

.article [role="button"]:focus:not(:focus-visible),
.article [role="tabpanel"][tabindex="0"]:focus:not(:focus-visible),
.article button:focus:not(:focus-visible),
.article summary:focus:not(:focus-visible),
.article a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.article [tabindex="0"]:focus:not(:focus-visible),
.article details-dialog:focus:not(:focus-visible) {
  outline: none;
}

.article g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.article g-emoji img {
  width: 1em;
  height: 1em;
}

.article .task-list-item {
  list-style-type: none;
}

.article .task-list-item label {
  font-weight: 400;
}

.article .task-list-item.enabled label {
  cursor: pointer;
}

.article .task-list-item + .task-list-item {
  margin-top: 0.25rem;
}

.article .task-list-item .handle {
  display: none;
}

.article .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}

.article ul:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.article ol:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.article .contains-task-list:hover .task-list-item-convert-container,
.article .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.article ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.article .markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: 0.25em solid #d1d9e0;
}

.article .markdown-alert > :first-child {
  margin-top: 0;
}

.article .markdown-alert > :last-child {
  margin-bottom: 0;
}

.article .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.article .markdown-alert.markdown-alert-note {
  border-left-color: #0969da;
}

.article .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #0969da;
}

.article .markdown-alert.markdown-alert-important {
  border-left-color: #8250df;
}

.article .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #8250df;
}

.article .markdown-alert.markdown-alert-warning {
  border-left-color: #9a6700;
}

.article .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
}

.article .markdown-alert.markdown-alert-tip {
  border-left-color: #1a7f37;
}

.article .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
}

.article .markdown-alert.markdown-alert-caution {
  border-left-color: #cf222e;
}

.article .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #d1242f;
}

.article > *:first-child > .heading-element:first-child {
  margin-top: 0 !important;
}

.article .highlight pre:has(+ .zeroclipboard-container) {
  min-height: 52px;
}
